<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <style>
      #section2, #section3, #section4 {
        display: none;
      }
      #btn1, #btn2, #btn3, #btn4 {
        padding: 10px 16px !important;
      }
    </style>

  </head>
  <body>
    
    <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">ShareNote</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center"  style="background:#000000a1">
          <div class="col-md-8 text-center">

            <h1 style="text-decoration: underline;">BRANCH</h1><br>
            <h1><%= branchName%></h1>
            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="slider-wrap site-section"  style="padding: 0;margin-top:4px">
      <div class="container">
          <div class="row align-items-center justify-content-center" style="margin-bottom: 16px;">
            <div class="col-md-8 col-sm-12 text-center">
  
              <div class="btn-group">
                <button id="btn1" class="btn btn-primary">1st year</button>
                <button id="btn2" class="btn btn-primary">2nd year</button>
                <button id="btn3" class="btn btn-primary">3rd year</button>
                <button id="btn4" class="btn btn-primary">4th year</button>
              </div>
        
            </div>
          </div>


        <div id="section1">
        <% for(i=0;i<8;i++) { %>
        <div class="row line-content">
          <div class="col-md-3 element-animate ">
            <a href="/downloads?courseCode=CS405" class="img-bg" style="background-image: url('images/img_2.jpg')">
              <div class="text">
                <span class="icon ion-ios-videocam"></span>
                <h2>Compiler1</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Photography in Trogir, Croatia</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
              <div class="text">
                <span class="icon ion-document"></span>
                <h2>Enjoyimg the Desert in Morocco</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
              <div class="text">
                <span class="icon ion-document"></span>
                <h2>Enjoyimg the Desert in Morocco</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
        </div>
        <% } %>
        </div>
        <div id="section2">
          <% for(i=0;i<8;i++) { %>
          <div class="row line-content">
            <div class="col-md-3 element-animate ">
              <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
                <div class="text">
                  <span class="icon ion-ios-videocam"></span>
                  <h2>Compiler2</h2>
                  <p>Continue reading...</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 element-animate ">
              <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
                <div class="text">
                  <span class="icon ion-images"></span>
                  <h2>Photography in Trogir, Croatia</h2>
                  <p>Continue reading...</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 element-animate ">
              <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                <div class="text">
                  <span class="icon ion-document"></span>
                  <h2>Enjoyimg the Desert in Morocco</h2>
                  <p>Continue reading...</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 element-animate ">
              <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                <div class="text">
                  <span class="icon ion-document"></span>
                  <h2>Enjoyimg the Desert in Morocco</h2>
                  <p>Continue reading...</p>
                </div>
              </a>
            </div>
          </div>
          <% } %>
          </div>
          <div id="section3">
            <% for(i=0;i<8;i++) { %>
            <div class="row line-content">
              <div class="col-md-3 element-animate ">
                <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
                  <div class="text">
                    <span class="icon ion-ios-videocam"></span>
                    <h2>Compiler3</h2>
                    <p>Continue reading...</p>
                  </div>
                </a>
              </div>
              <div class="col-md-3 element-animate ">
                <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
                  <div class="text">
                    <span class="icon ion-images"></span>
                    <h2>Photography in Trogir, Croatia</h2>
                    <p>Continue reading...</p>
                  </div>
                </a>
              </div>
              <div class="col-md-3 element-animate ">
                <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                  <div class="text">
                    <span class="icon ion-document"></span>
                    <h2>Enjoyimg the Desert in Morocco</h2>
                    <p>Continue reading...</p>
                  </div>
                </a>
              </div>
              <div class="col-md-3 element-animate ">
                <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                  <div class="text">
                    <span class="icon ion-document"></span>
                    <h2>Enjoyimg the Desert in Morocco</h2>
                    <p>Continue reading...</p>
                  </div>
                </a>
              </div>
            </div>
            <% } %>
            </div>
            <div id="section4">
              <% for(i=0;i<8;i++) { %>
              <div class="row line-content">
                <div class="col-md-3 element-animate ">
                  <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
                    <div class="text">
                      <span class="icon ion-ios-videocam"></span>
                      <h2>Compiler4</h2>
                      <p>Continue reading...</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3 element-animate ">
                  <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
                    <div class="text">
                      <span class="icon ion-images"></span>
                      <h2>Photography in Trogir, Croatia</h2>
                      <p>Continue reading...</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3 element-animate ">
                  <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                    <div class="text">
                      <span class="icon ion-document"></span>
                      <h2>Enjoyimg the Desert in Morocco</h2>
                      <p>Continue reading...</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3 element-animate ">
                  <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
                    <div class="text">
                      <span class="icon ion-document"></span>
                      <h2>Enjoyimg the Desert in Morocco</h2>
                      <p>Continue reading...</p>
                    </div>
                  </a>
                </div>
              </div>
              <% } %>
              </div>

      </div>
    </section>
    <!-- END section -->

   
    <% include partials/footer %>
    
    <!-- loader -->
    <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/>
        </svg>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>


    <script src="js/main.js"></script>
    <script>

      $('#btn1').click(function(){
        $('#section1').show();
        $('#section2').hide();
        $('#section3').hide();
        $('#section4').hide();
      });
      $('#btn2').click(function(){
        $('#section1').hide();
        $('#section2').show();
        $('#section3').hide();
        $('#section4').hide();
      });
      $('#btn3').click(function(){
        $('#section1').hide();
        $('#section2').hide();
        $('#section3').show();
        $('#section4').hide();
      });
      $('#btn4').click(function(){
        $('#section1').hide();
        $('#section2').hide();
        $('#section3').hide();
        $('#section4').show();
      });

       
    
    
    </script>

    

  </body>
</html>