<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <style>
      #pagin li {
        display: inline-block;
        font-size: 24px;
        width:28px;
      }
      #pagin li:hover {
        background: #007BFF;
      }
      #pagin li.current {
        background: #dadada;
      }

      #pagin {
        list-style-type: none;
        text-align: center;
        padding-left: 0px;
      }
    </style>

  </head>
  <body>
    
    <header role="banner">
     
      <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">ShareNote</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
            <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center"  style="background:#000000a1">
          <div class="col-md-8 text-center">

            <!-- <div class="mb-5 element-animate">
              <h1>Downloads</h1>
              <br>
              <br>
              
              <div class="form-group">
                <label for="sel_branch" style="color: #d6d5ff">Branch:</label>
                <select class="form-control" id="sel_branch">
                    <option value="0">------Select branch------</option>
                    <% branches.forEach(function(branch){ %>
                        <option value="<%=branch.branchCode%>"><%= branch.branchName %></option>
                    <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label for="sel2" style="color: #d6d5ff">Course:</label>
                <select class="form-control" id="sel2">
                </select>
              </div>
              <button onclick="query()" class="btn btn-primary">Submit</button>
            </div> -->

            <div class="mb-5 element-animate">
              <br><br>
              <h1><%= branchName %></h1>
              <h1><%= courseName %></h1>

              <br><br>

              <button class="btn btn-outline-primary" data-toggle="modal"
              data-target="#contributeModal">Contribute to this course</button>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <!-- Modal -->
    <div class="modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-labelledby="contributeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contributeModalLabel">Upload a document</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="font-size: xx-large;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label>Document Name</label>
                <input type="text" name="name" class="form-control" required/>
              </div>
              <div class="form-group">
                <label>Select file</label>
                <input type="file" name="file" class="form-control-file" required/>
              </div>
              <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" name="description" rows="5"></textarea>
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>

    <section class="slider-wrap site-section">
      <div class="container" style="padding-top: 12px;" id="pagination">

        <% for(i=0;i<8;i++) { %>

        <div class="row line-content">
          <div class="col-md-3 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('images/img_2.jpg')">
              <div class="text">
                <span class="icon ion-ios-videocam"></span>
                <h2>Compiler</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 element-animate ">
            <a href="#" class="img-bg" style="background-image: url('images/img_1.jpg')">
              <div class="text">
                <span class="icon ion-images"></span>
                <h2>Photography in Trogir, Croatia</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
              <div class="text">
                <span class="icon ion-document"></span>
                <h2>Enjoyimg the Desert in Morocco</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
          <div class="col-md-3 element-animate ">
            <a href="#" class="img-bg last" style="background-image: url('images/img_3.jpg')">
              <div class="text">
                <span class="icon ion-document"></span>
                <h2>Enjoyimg the Desert in Morocco</h2>
                <p>Continue reading...</p>
              </div>
            </a>
          </div>
        </div>

        <% } %>

        
        <div class="row element-animate pt-5">
          <div class="col-4 text-left mb-3"><a href="#pagination" onclick="prevPage()" class="btn btn-primary">Prev</a></div>
          <div class="col-4">
              <ul id="pagin"></ul>
          </div>
          <div class="col-4 text-right"><a href="#pagination" onclick="nextPage()" class="btn btn-primary">Next</a></div>
        </div>
      </div>
    </section>
    <!-- END section -->

   
    <% include partials/footer %>
    
    <!-- loader -->
    <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/>
        </svg>
    </div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>


    <script src="js/main.js"></script>
    <script>
        $("#sel_branch").change(function () {
            let selected_branch = $(this).val();
            $.get('/api/courses?branchCode='+selected_branch,function(data){
                var course_options="";
                
                data.forEach(function(course){
                        course_options+='<option value='+course.courseCode+'>'+course.courseName+'</option>';
                });
                //console.log(course_options);
                $("#sel2").html(course_options);  

            });
            
        });
    
    </script>
    <script>
      var branches = ['CS','EE','EL','ME','MT','CE','PR'];
      function query(){
        let selected_course = $("#sel2").val();
        if(selected_course)
            window.location.href = "/downloads?courseCode="+selected_course;
      }

    
    </script>

    <script>
      //Pagination
      pageSize = 2;

      $(function() {
        var pageCount = Math.ceil($(".line-content").size() / pageSize);

        for (var i = 0; i < pageCount; i++) {
          if (i == 0)
            $("#pagin").append('<li id='+(i+1)+' class="current"><a href="#pagination">' + (i + 1) + '</a></li>');
          else
            $("#pagin").append('<li id='+(i+1)+'><a href="#pagination">' + (i + 1) + '</a></li>');
        }


        showPage(1);

        $("#pagin li").click(function() {
          $("#pagin li").removeClass("current");
          $(this).addClass("current");
          showPage(parseInt($(this).text()))
        });

      })

      function nextPage(){
        let curr = parseInt($("#pagin li[class='current']").text());
        console.log("curr",curr);
        let next = curr + 1;
        console.log("next",next);
        
        $("#pagin li[id="+next+"]").click();
      }
      function prevPage(){
        let curr = parseInt($("#pagin li[class='current']").text());
        console.log("curr",curr);
        let prev = curr - 1;
        
        $("#pagin li[id="+prev+"]").click();
      }

      showPage = function(page) {
        console.log("page",page);
        $(".line-content").hide();

        $(".line-content").each(function(n) {
          if (n >= pageSize * (page - 1) && n < pageSize * page)
            $(this).show();
        });
      }

    
    
    </script>

  </body>
</html>